<html>
  <head>
    <title>I'm a second template file</title>
  </head>
  <body>
    <ul>
      <li>10</li>
      <li>2</li>
    </ul>
    <p>{{ i'm some moustache so i should be ignored }}</p>
  </body>
</html>