<html>
  <head>
    <title>I'm a second template file</title>
  </head>
  <body>
    <ul>
      <li>Lokomotive Lokomotive nummer 9</li>
      <li>Auf der New York Bahn-Linie</li>
    </ul>
    <p>{{ i'm some moustache so i should be ignored }}</p>
  </body>
</html>