<html>
  <head>
    <title>I'm a template file</title>
  </head>
  <body>
    <p>Here's a link: <a href="#">Click me</a></p>
    <p>{{ i'm some moustache so i should be ignored }}</p>
  </body>
</html>