<html>
  <head>
    <title>I'm a second template file</title>
  </head>
  <body>
    <ul>
      <li>locomotive locomotive numero 9</li>
      <li>Sur le New York ligne de transport</li>
    </ul>
    <p>{{ i'm some moustache so i should be ignored }}</p>
  </body>
</html>