<html>
  <head>
    <title>I'm a second template file</title>
  </head>
  <body>
    <ul>
      <li><%= t(that, "Engine engine number %d", [9]) %></li>
      <li><%= t(that, "On the %s transit line", ["New York"]) %></li>
    </ul>
    <p>{{ i'm some moustache so i should be ignored }}</p>
  </body>
</html>